includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
    # Maximum Level is 10
    level: 7
    ignoreErrors:
        # Laravel's relationship return types are complex and don't fully match PHPStan's expectations
        # These are known issues with Laravel + PHPStan level 7+
        - '#Method .+::(rooms|messages|user|room|users)\(\) should return .+ but returns .+#'
        - '#Generic type Illuminate\\Database\\Eloquent\\Relations\\HasMany.+ in PHPDoc tag @return does not specify all template types#'
        - '#Type string in generic type Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany.+ is not subtype of template type#'
